section.contacts#contacts 
    .container 
        .contacts__box
            .contacts__info
                h4.title.contacts__title Наши #[br] #[b контакты]
                .contacts__item 
                    span.contacts__label Телефон
                    a.contacts__phone(href="tel:+79165714808") +7 (916) 571-48-08
                .contacts__item 
                    span.contacts__label Почта
                    a.contacts__mail(href="mailto:arbolitstroy.pro@yandex.ru") arbolitstroy.pro@yandex.ru
                .contacts__item 
                    span.contacts__label Адрес
                    span.contacts__adress г. Подольск, ул. Комсомольская, 1
                .contacts__item
                    .social
                        span.contacts__label Соц. сети
                        include ./_socials.pug
            .contacts__map#map
