section.delivery#delivery 
    .container 
        .delivery__box 
            .delivery__content 
                h4.title.delivery__title Быстрая и надежная доставка блоков
                p.tagtitle.delivery__tagtitle Мы гарантируем надежную доставку грузов #[b в любую точку Москвы и области] с учетом ваших потребностей. Стоимость наших услуг определится исходя из объема груза и вашего местоположения. Не упустите шанс сэкономить - #[b звоните нам прямо сейчас], и мы подготовим для вас точный расчет стоимости доставки!
            img.delivery__img(src="img/delivery.webp", alt="@")

