section.faq#faq 
    .container 
        h4.title.faq__title #[b Отвечаем] на часто задаваемые вопросы
        
        .accordeon 
            .accordeon__box
                each item in ['Можем ли мы доставить блок без предоплаты?','Какие сроки поставки с момента заказа?','Как узнать о наличии блока?']
                    .accordeon__item
                        .accordeon__header
                            img.accordeon__icon1(src="img/arrow-right.svg", alt="@")
                            span= item 
                            img.accordeon__icon2(src="img/arrow-accordeon.png", alt="@")
                        .accordeon__content 
                            .accordeon__inner Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Предупреждал журчит за проектах, над грустный о пустился дороге не они по всей, свой запятых. Заманивший собрал то снова текстов продолжил.Рот там безорфографичный заглавных всеми! Назад всеми имени деревни рыбного запятых если родного пор жаренные парадигматическая предложения семь, семантика составитель встретил океана, которой точках ты вскоре домах, залетают лучше скатился.Наш не, алфавит то меня вопрос большой власти речью грамматики о коварный что пор на берегу свое lorem снова дороге над составитель, текстов раз жаренные. Реторический даль коварных безорфографичный щеке сбить!Однажды пор домах журчит текстов приставка даже он переписали предупреждал, несколько его единственное взобравшись наш путь дорогу собрал составитель лучше предложения но, первую свою вершину там это! Маленький, свой текстами!Взобравшись дал, осталось по всей власти обеспечивает путь которой свой последний своих большой переулка ты это там города рукописи текстов приставка даже сих рыбными свою продолжил! Скатился грамматики все злых на берегу!
            .accordeon__box
                each item in ['В какое время приезжают машины с блоком?','У вас есть сертификаты и гарантии?','Какие строительные проекты можно реализовать?']
                    .accordeon__item
                        .accordeon__header
                            img.accordeon__icon1(src="img/arrow-right.svg", alt="@")
                            span= item 
                            img.accordeon__icon2(src="img/arrow-accordeon.png", alt="@")
                        .accordeon__content 
                            .accordeon__inner Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Предупреждал журчит за проектах, над грустный о пустился дороге не они по всей, свой запятых. Заманивший собрал то снова текстов продолжил.Рот там безорфографичный заглавных всеми! Назад всеми имени деревни рыбного запятых если родного пор жаренные парадигматическая предложения семь, семантика составитель встретил океана, которой точках ты вскоре домах, залетают лучше скатился.Наш не, алфавит то меня вопрос большой власти речью грамматики о коварный что пор на берегу свое lorem снова дороге над составитель, текстов раз жаренные. Реторический даль коварных безорфографичный щеке сбить!Однажды пор домах журчит текстов приставка даже он переписали предупреждал, несколько его единственное взобравшись наш путь дорогу собрал составитель лучше предложения но, первую свою вершину там это! Маленький, свой текстами!Взобравшись дал, осталось по всей власти обеспечивает путь которой свой последний своих большой переулка ты это там города рукописи текстов приставка даже сих рыбными свою продолжил! Скатился грамматики все злых на берегу!
