footer.footer
    .container 
        .footer__box 
            .footer__logo 
                figure.logo
                    img.logo__img(src="img/logo.svg", alt="@")
                    .desktop
                        figcaption.logo__text Поставщик газоблоков, #[br] пеноблоков и арболита
            .footer__links 
                a(href="#") Пользавательское соглашение
                a(href="#") Политика конфиденциальности
            a.footer__dev(href="") 
                | Создание сайта
                img(src="img/scrum-logo.png", alt="#")
                