section.help    
	.container 
		.help__box
			.help__titlebox 
				h4.title.help__title #[b Не нашли] #[br] нужный материал?
				p.tagtitle.help__tagtitle Мы готовы помочь вам: #[b отвечаем] #[br] #[b на вопросы, подскажем и посчитаем] 
			img.help__img(src="img/smartphone.webp", alt="@")
			.help__contacts
				.help-phone
					span.help-phone__text Позвоните или напишите
					a.help-phone__num(href="tel:+79165714808") +7 (916) 571-48-08
				.social
					include ./_socials.pug
