section.quiz#quiz
	.container 
		h2.title.quiz__title #[b Ответьте на 5 вопросов] и получите расчёт
		p.tagtitle.quiz__tagtitle Удобный калькулятор #[b для расчета газо- и пеноблоков] для стройки

		form.quiz-form(action="") 
			.quiz-form__inner
				.quiz__box
					.progress 
						.progress__counter Вы отвечаете на #[output.progress__count 1] #[b вопрос] из 5
						.progress__line
					.quiz__steps
						.step.step5(data-step="5") 
							.step__title #[b Укажите населенный пункт куда нужна будет доставка:]
							.step__fields 
								span.step__entryname Название населенного пункта
								input.step__entry(type="text" placeholder="Например, Москва")
							+buttons('', 'disabled')
						.step.step4(data-step="4")
							.step__title #[b Что планируете строить?]
							.step__fields
								each item in ['Дачный дом','Коттедж','Гараж','Дом для постоянного проживания']
									label.step-lable
										input.step-lable__input(type="radio" name="step2")
										svg.step-lable__icon(width='20px' viewBox='0 0 512 512')
											path(fill="#F6F8FA" d='M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z')
										span.step-lable__name= item 
							+buttons('', 'disabled')
						.step.step3(data-step="3")
							.step__title #[b Укажите необходимое количество кубов (м³)] #[br] (если нужен расчёт, можно пропустить):
							.step__fields 
								span.step__entryname Сколько вам нужно материала?
								input.step__entry(type="text" placeholder="Например, 105")
							+buttons('', '')
						.step.step2(data-step="2") 
							.step__title #[b Какой блок вам нужен?] (можно выбрать несколько видов)
							.step__fields
								each item in ['Стеновой','U-образный','Перегородочный', 'Перемычка']
									label.step-lable
										input.step-lable__input.step-label__input--checkbox(type="checkbox" name="step2")
										svg.step-lable__icon(width='20px' viewBox='0 0 512 512')
											path(fill="#F6F8FA" d='M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z')
										span.step-lable__name= item 
							+buttons('', 'disabled')
						.step.step1(data-step="1")
							.step__title #[b Из какого материала вам нужен блок?] 
							.step__fields
								each item in ['Арболит','Газоблок','Керамический блок']
									label.step-lable
										input.step-lable__input(type="radio" name="step1")
										svg.step-lable__icon(width='20px' viewBox='0 0 512 512')
											path(fill="#F6F8FA" d='M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z')
										span.step-lable__name= item 
							+buttons('disabled', 'disabled')

				.desktop
					.quiz-info
						img.quiz-info__bg(src="img/mujik-1.webp", alt="@")
						.quiz-info__content 
							.quiz-info__title В конце теста вы получите:
							p.quiz-info__tagtitle Расчет стоимости блоков #[br] в трех вариантах
							p.quiz-info__tagtitle Гарантированный подарок

			.afterquiz
				.afterquiz__form
					.title.afterquiz__title Спасибо за ответы!
					p.tagtitle.afterquiz__tagtitle Заполните форму, чтобы узнать стоимость #[br] вашего проекта и #[b скидку 10% на материал]
					.form
						.form__field.form__field--afterquiz
							label.form__label Как вас зовут?
							input.form__input.form__input--afterquiz(type="text" placeholder="Например, Валентин")  
						.form__field.form__field--afterquiz
							label.form__label Ваш номер телефона
							input.form__input.form__input--afterquiz.js-maskPhone(type="text" placeholder="+7 (___) ___-__-__") 
						button.button.button-blue.form__button 
							span Получить скидку
							svg(width='20' height='20' viewBox='0 0 20 20' fill='none')
								path(d='M8.91726 6.12131C8.85539 6.32239 8.89793 6.50027 9.05067 6.66849C9.14928 6.77869 9.19762 6.81543 9.28849 6.84443C9.35423 6.86377 10 6.87924 10.7773 6.87924L12.152 6.8773L8.89019 10.1584C5.25135 13.8205 5.56265 13.4821 5.58198 13.7567C5.59165 13.9094 5.62839 13.9848 5.77146 14.1279C5.91841 14.2749 5.99188 14.3097 6.1601 14.3193C6.43659 14.3329 6.18136 14.5687 9.7912 10.9589L13.0221 7.72804L13.0221 9.12789C13.0259 9.89742 13.0395 10.5722 13.0588 10.6263C13.111 10.783 13.3276 10.9647 13.5035 10.9937C13.7085 11.0324 13.8689 10.9802 14.0198 10.8294C14.0855 10.7598 14.1551 10.6708 14.1706 10.6283C14.186 10.5857 14.2015 9.55326 14.2034 8.33322C14.2054 6.20445 14.2034 6.10971 14.1338 5.99756C14.0565 5.86995 13.8902 5.73074 13.7897 5.70367C13.6756 5.67467 9.37163 5.70174 9.27882 5.73267C9.13768 5.78101 8.96753 5.96276 8.91726 6.12131Z')
						.agree
							label.agree__wrap
								input.agree__input.agree__input--afterquiz(type="checkbox" checked autocomplete="off")
								span.agree__checkbox.agree__checkbox--afterquiz
								span.agree__text.agree__text--afterquiz Нажимая на кнопку, вы соглашаетесь с #[br] #[a(href="") политикой конфиденциальности ]
				.afterquiz__timerbox
					.desktop 
						img(src="img/afterquiz.webp", alt="@")
					.timer
						p.timer__text #[b Скидка 10%] на ваш проект сгорит через:
						.timer__count
							