
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")

script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js")

script(src="https://rawgit.com/RobinHerbots/Inputmask/5.x/dist/jquery.inputmask.js")

script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")

//- <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>

script(src="js/main.js")