.header {
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
	width: 100%;
    padding: 18px 0;
	color: var(--color-0);
    transition: all .3s;

	&__box {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__burger {
		position: relative;
		z-index: 5;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 30px;
		height: 30px;
		cursor: pointer;
		overflow: hidden;

		span {
			width: 30px;
			height: 3px;
			background: var(--color-0);
			transition: all 0.5s;
		}

		&.is-open {
			span {
				&:nth-child(1) {
					transform: rotate(45deg) translateY(9px) translateX(5px);
					width: 35px;
				}

				&:nth-child(2) {
					transform: translateX(-100%);
				}

				&:nth-child(3) {
					transform: rotate(-45deg) translateY(-9px) translateX(5px);
					width: 35px;
				}
			}
		}
	}

    &.active{
        background: rgba(0,0,0,0.8);
        @media(min-width: 992px){
            top: -80px;
        }
    }
}

.logo {
	display: flex;
	align-items: center;
	gap: 10px;

	&__text {
		font-size: 10px;
		font-weight: 400;
	}
}

.social {
	display: flex;
	flex-direction: column;
	gap: 5px;
	text-align: center;

	&__text {
		font-size: 10px;
		font-weight: 400;
	}

	&__icons {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

    &__icon{
        width: 30px;
    }
}

.header-mail {
	display: flex;
	flex-direction: column;

	&__text {
		font-size: 10px;
		font-weight: 400;

		text-align: center;
	}

	&__adress {
		font-size: 14px;
		font-weight: 700;
	}
}

.header-phone {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 7px;

	&__number {
		font-size: 18px;
		font-weight: 700;
	}

	&__ordercall {
		font-size: 12px;
		font-weight: 400;
		text-decoration: underline;
	}
}

.menu {

    transition: all .3s;

	@media(max-width: 992px){
		position: fixed;
		top: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		width: 320px;
		height: 100%;
		padding-top: 100px;
		padding-right: 15px;
		padding-bottom: 15px;
		background: rgba(0,0,0,0.9);
        transform: rotateY(90deg);
        transform-origin: right;
        &.is-active{
            transform: rotateY(0deg);
        }
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0 85px;
		@media (max-width: 1100px) {
			gap: 0 50px;
		}
		@media (max-width: 992px) {
			flex-direction: column;
			align-items: flex-end;
			gap: 20px 0;
		}
	}

	&__link {
		font-size: 18px;
		font-weight: 600;
	}

	&__info{
		margin-top: auto;
	}

	&__social{
		align-items: flex-end;
		margin-bottom: 20px;
		text-align: right;
	}

	&__phone{
		margin-bottom: 20px;
	}

	&__mail{
		text-align: right;
	}
}