:root{
    --color-0: #FFF;
    --color-1: #000;
    --color-2: #0A50A8;
    --color-3: #313131;
    --color-4: #292829;
    --color-5: #212121;
    --color-6: #FBFAFA;
    --color-7: #EDEDED;
    --color-8: #CDD9F5;
    --color-9: #F6F8FA;
    --color-10:  #D9D9D9;
    --color-11: #263052;
    --color-12: #F9F9F9;
    --color-13: #5D87BC;
}

