<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Продажа пеноблока и газоблока
	body
		
		include ./../sections/_header.pug

		include ./../sections/_home.pug

		include ./../sections/_quiz.pug

		include ./../sections/_catalog.pug

		include ./../sections/_help.pug

		include ./../sections/_advantages.pug

		include ./../sections/_instruction.pug

		include ./../sections/_form-1.pug

		include ./../sections/_characteristics.pug

		include ./../sections/_reviews.pug

		include ./../sections/_faq.pug

		include ./../sections/_form-2.pug

		include ./../sections/_contacts.pug
		
		include ./../sections/_footer.pug
		
		include ./../sections/_scripts.pug