svg(width='20' height='20' viewBox='0 0 20 20' fill='none')
    g(clip-path='url(#clip0_4_2789)')
        path(d='M8.91726 6.12155C8.85539 6.32263 8.89793 6.50052 9.05067 6.66873C9.14928 6.77894 9.19762 6.81568 9.28849 6.84468C9.35423 6.86401 10 6.87948 10.7773 6.87948L12.152 6.87755L8.89019 10.1587C5.25135 13.8207 5.56265 13.4824 5.58198 13.7569C5.59165 13.9097 5.62839 13.9851 5.77146 14.1282C5.91841 14.2751 5.99188 14.3099 6.1601 14.3196C6.43659 14.3331 6.18137 14.569 9.7912 10.9592L13.0221 7.72829L13.0221 9.12814C13.0259 9.89767 13.0395 10.5725 13.0588 10.6266C13.111 10.7832 13.3276 10.965 13.5035 10.994C13.7085 11.0326 13.8689 10.9804 14.0198 10.8296C14.0855 10.76 14.1551 10.6711 14.1706 10.6285C14.186 10.586 14.2015 9.5535 14.2034 8.33347C14.2054 6.20469 14.2034 6.10995 14.1338 5.99781C14.0565 5.8702 13.8902 5.73098 13.7897 5.70392C13.6756 5.67491 9.37163 5.70198 9.27882 5.73292C9.13768 5.78126 8.96753 5.96301 8.91726 6.12155Z')
    defs
        clippath#clip0_4_2789
            rect(width='14' height='14' fill='white' transform='translate(0 10) rotate(-45)')