

/*
0. Шрифты
1. Общие стили для всего сайта
2. Вспомогательные классы
3. Стили для одинаковых элементов
4. Шапка
5. Подвал
6. Стили которые не повторяются на других страницах

Мобильная версия начинается с 992пх

*/

@import 'blocks/vars';

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
ШРИФТЫ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import 'blocks/fonts';

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	ОБЩИЕ СТИЛИ ДЛЯ ВСЕГО САЙТА 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
*,
p,
h1,h2,h3,h4,h5,h6{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: normal;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html{ 
	overflow-x: hidden;
	&.fixed{
		overflow: hidden;
	}
}
body{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: var(--color-1);
    overflow: hidden;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
    color: inherit;
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}
b{
    font-weight: 700;
}
button{ 
	display: block;
    font-family: 'Montserrat', sans-serif;
	background: transparent;
	border: none;
	outline: none;
    color: inherit;
	cursor: pointer;
	&:focus{
		outline: none;
	}
	&:disabled{
		pointer-events: none;
		opacity: 0.5;
	}
}
input, textarea{
    font-family: 'Montserrat', sans-serif;
	outline: none;
    color: inherit;
	&:focus-visible{
		outline: none;
	}
	&:disabled{
		pointer-events: none;
		opacity: 0.5;
	}
}

.container{
    max-width: 1195px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.overflow-visible{
    overflow: visible;
}

.mobile{
	display: none;
	@media screen and ( max-width: 992px ){
		display: block;
	}
}
.desktop{
	@media screen and ( max-width: 992px ){
		display: none;
	}
}

* ::-webkit-scrollbar {
    width: 6px; /* ширина всей полосы прокрутки */
  }
  
  * ::-webkit-scrollbar-track {
    background: var(--color-3); /* цвет зоны отслеживания */
    border-radius: 20px;
  }
  
  * ::-webkit-scrollbar-thumb {
    background-color: var(--color-1); /* цвет бегунка */
    border-radius: 20px; /* округлось бегунка */
    border: 3px solid transparent;
  }
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//END ОБЩИЕ СТИЛИ ДЛЯ ВСЕГО САЙТА 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ (нужны там где нет нужды в осмысленном класснейминге)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/




/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//END	ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	СТИЛИ ДЛЯ ОДИНАКОВЫХ ЭЛЕМЕНТОВ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import 'blocks/templates';
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//END СТИЛИ ДЛЯ ОДИНАКОВЫХ ЭЛЕМЕНТОВ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
	HEADER 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import 'blocks/header';
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
	//END HEADER  
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
	FOOTER  
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import 'blocks/footer';
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
	//END FOOTER  
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
	СТИЛИ КОТОРЫЕ НЕ ПОВТОРЯЮТСЯ НА ДРУГИХ СТРАНИЦАХ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import 'blocks/home';
@import 'blocks/quiz';
@import 'blocks/catalog';
@import 'blocks/help';
@import 'blocks/advantages';
@import 'blocks/instruction';
@import 'blocks/delivery';
@import 'blocks/characteristics';
@import 'blocks/reviews';
@import 'blocks/faq';
@import 'blocks/form';
@import 'blocks/contacts';
